.poke-container div {
    display: inline-block;
    text-align: center;
}

.poke-container span img{
    display: inline;
}

.pokemon div img {
    display: block;
    height: 20em;
}

.poke-nav {
    padding-top: 3em;
    display: block;
    margin-bottom: 3em;
}

.poke-nav a{
    display: block;
}